$maxWidth: 1600px;
$horizontalAlign: 0 auto;

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url(./../../images/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 23px 0 90px;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
  }

  &__menu {
    margin-bottom: 25px;
  }

  &__list {
    max-width: 600px;
    margin: $horizontalAlign;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 85px;

    &:nth-child(2) {
      margin-right: 101px;
    }
    &:nth-child(3) {
      margin-right: 100px;
    }
  }

  &__link {
    color: #fff;
    opacity: 0.8;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    &_active {
      opacity: 1;
      border-bottom: 1px solid;
    }
  }

  &__info {
    padding: 131px 0 183px;
    max-width: 760px;
    margin: $horizontalAlign;
    color: #fff;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    margin-bottom: 23px;
  }

  &__description {
    max-width: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto;
    margin-bottom: 28px;
    padding-right: 5px;
  }

  &__button {
    color: #fff;
    border: none;
    background-color: #00afdb;
    padding: 15px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px;
  }

  &__social {
    display: flex;
    justify-content: center;
    margin: $horizontalAlign;
    padding-right: 5px;
  }

  &__img {
    cursor: pointer;
    margin-right: 30px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ideas {
  background-color: #fff;
  padding: 120px 0 140px;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row {
    max-width: 407px;
    &:first-of-type {
      margin-right: 126px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4e4e4e;
    margin-bottom: 32px;
  }

  &__img {
    margin-left: 121px;
  }

  &__button {
    color: #fff;
    border: none;
    background-color: #00afdb;
    padding: 15px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px;
  }
}

.community {
  background-color: #f5f6f7;
  padding: 78px 0 140px;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__user {
    max-width: 300px;
    margin-top: 36px;
    margin-right: 139px;
  }

  &__ava {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: #373737;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4e4e4e;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    margin-left: 329px;
  }

  &__number {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #373737;
    &:first-of-type {
      margin-left: 5px;
      &::before {
        content: url(../../images/arrow-left.svg);
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
      }
    }

    &:nth-of-type(2) {
      margin-left: 4px;
    }

    &:last-of-type {
      margin-left: 5px;
      &::after {
        content: url(../../images/arrow-right.svg);
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }

  &__slider {
    display: flex;
  }

  &__slide {
    display: block;
    margin-left: 30px;

    &:first-of-type {
      margin-left: 0;
    }
    // &:last-of-type {
    //   margin-right: 2px;
    // }
  }
}

.implement {
  background-color: #fff;
  padding: 120px 0 137px;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row {
    max-width: 407px;
    &:first-of-type {
      margin-right: 140px;
    }
    &:last-of-type {
      margin-right: 113px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4e4e4e;
    margin-bottom: 31px;
  }

  &__button {
    color: #fff;
    border: none;
    background-color: #00afdb;
    padding: 15px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.sign {
  background-image: url(./../../images/lap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0 220px;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    padding-right: 5px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 31px;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 340px;
    padding: 13px 0 13px 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
    opacity: 0.5;
    border: none;
    box-sizing: border-box;
  }

  &__button {
    background-image: url(./../../images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00afdb;
    padding: 16px 33px;
    cursor: pointer;
    align-self: stretch;
    border: none;
  }
}

.download {
  background-color: #f5f6f7;
  padding: 120px 0 180px;

  &__wrapper {
    max-width: $maxWidth;
    margin: $horizontalAlign;
    padding-right: 2px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 22px;
    margin-right: 2px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4e4e4e;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 480px;
    padding-right: 3px;
  }

  &__mobile {
    display: flex;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__button {
    padding: 14px 14px;
    background-color: #00afdb;
    border: none;

    &_text {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: flex-end;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__logo {
    background-color: #009cc2;
    padding: 13px 30px;
    border: none;

    &_apple {
      background-image: url(./../../images/icon-apple.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    &_android {
      background-image: url(./../../images/icon-android.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
}

.footer {
  background-color: #000;
  padding: 61px 0 80px;

  &__wrapper {
    width: 1285px;
    margin: $horizontalAlign;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
  }

  &__logo {
    margin-right: 65px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;

    &_middle {
      margin-right: 20px;
      margin-left: 20px;
      &::before {
        content: "";
        display: inline-block;
        height: 8px;
        width: 1px;
        background-color: #4e4e4e;
        margin-right: 20px;
      }
      &::after {
        content: "";
        display: inline-block;
        height: 8px;
        width: 1px;
        background-color: #4e4e4e;
        margin-left: 20px;
      }
    }
  }

  &__author {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #818181;
    margin-right: 5px;
  }
}
