body {
  font-family: "Roboto", sans-serif; }

.header {
  background-image: url(./../../images/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 23px 0 90px; }
  .header__wrapper {
    max-width: 1600px;
    margin: 0 auto; }
  .header__menu {
    margin-bottom: 25px; }
  .header__list {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
  .header__item {
    margin-right: 85px; }
    .header__item:nth-child(2) {
      margin-right: 101px; }
    .header__item:nth-child(3) {
      margin-right: 100px; }
  .header__link {
    color: #fff;
    opacity: 0.8;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%; }
    .header__link_active {
      opacity: 1;
      border-bottom: 1px solid; }
  .header__info {
    padding: 131px 0 183px;
    max-width: 760px;
    margin: 0 auto;
    color: #fff;
    text-align: center; }
  .header__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    margin-bottom: 23px; }
  .header__description {
    max-width: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto;
    margin-bottom: 28px;
    padding-right: 5px; }
  .header__button {
    color: #fff;
    border: none;
    background-color: #00afdb;
    padding: 15px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px; }
  .header__social {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-right: 5px; }
  .header__img {
    cursor: pointer;
    margin-right: 30px; }
    .header__img:last-of-type {
      margin-right: 0; }

.ideas {
  background-color: #fff;
  padding: 120px 0 140px; }
  .ideas__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .ideas__row {
    max-width: 407px; }
    .ideas__row:first-of-type {
      margin-right: 126px; }
  .ideas__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px; }
  .ideas__info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4e4e4e;
    margin-bottom: 32px; }
  .ideas__img {
    margin-left: 121px; }
  .ideas__button {
    color: #fff;
    border: none;
    background-color: #00afdb;
    padding: 15px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px; }

.community {
  background-color: #f5f6f7;
  padding: 78px 0 140px; }
  .community__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .community__user {
    max-width: 300px;
    margin-top: 36px;
    margin-right: 139px; }
  .community__ava {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .community__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: 14px;
    color: #373737; }
  .community__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4e4e4e; }
  .community__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    margin-left: 329px; }
  .community__number {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #373737; }
    .community__number:first-of-type {
      margin-left: 5px; }
      .community__number:first-of-type::before {
        content: url(../../images/arrow-left.svg);
        display: inline-block;
        margin-right: 15px;
        cursor: pointer; }
    .community__number:nth-of-type(2) {
      margin-left: 4px; }
    .community__number:last-of-type {
      margin-left: 5px; }
      .community__number:last-of-type::after {
        content: url(../../images/arrow-right.svg);
        display: inline-block;
        margin-left: 15px;
        cursor: pointer; }
  .community__slider {
    display: flex; }
  .community__slide {
    display: block;
    margin-left: 30px; }
    .community__slide:first-of-type {
      margin-left: 0; }

.implement {
  background-color: #fff;
  padding: 120px 0 137px; }
  .implement__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .implement__row {
    max-width: 407px; }
    .implement__row:first-of-type {
      margin-right: 140px; }
    .implement__row:last-of-type {
      margin-right: 113px; }
  .implement__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 21px; }
  .implement__info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4e4e4e;
    margin-bottom: 31px; }
  .implement__button {
    color: #fff;
    border: none;
    background-color: #00afdb;
    padding: 15px 43px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer; }

.sign {
  background-image: url(./../../images/lap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0 220px; }
  .sign__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-right: 5px; }
  .sign__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 31px; }
  .sign__form {
    display: flex;
    justify-content: center;
    align-items: center; }
  .sign__input {
    width: 340px;
    padding: 13px 0 13px 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
    opacity: 0.5;
    border: none;
    box-sizing: border-box; }
  .sign__button {
    background-image: url(./../../images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00afdb;
    padding: 16px 33px;
    cursor: pointer;
    align-self: stretch;
    border: none; }

.download {
  background-color: #f5f6f7;
  padding: 120px 0 180px; }
  .download__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-right: 2px; }
  .download__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 22px;
    margin-right: 2px; }
  .download__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4e4e4e;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 480px;
    padding-right: 3px; }
  .download__mobile {
    display: flex;
    justify-content: center; }
  .download__buttons {
    display: flex;
    justify-content: center;
    margin-right: 30px; }
    .download__buttons:last-of-type {
      margin-right: 0; }
  .download__button {
    padding: 14px 14px;
    background-color: #00afdb;
    border: none; }
    .download__button_text {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: flex-end;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer; }
  .download__logo {
    background-color: #009cc2;
    padding: 13px 30px;
    border: none; }
    .download__logo_apple {
      background-image: url(./../../images/icon-apple.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
    .download__logo_android {
      background-image: url(./../../images/icon-android.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }

.footer {
  background-color: #000;
  padding: 61px 0 80px; }
  .footer__wrapper {
    width: 1285px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px; }
  .footer__logo {
    margin-right: 65px; }
  .footer__list {
    display: flex;
    justify-content: center; }
  .footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff; }
    .footer__link_middle {
      margin-right: 20px;
      margin-left: 20px; }
      .footer__link_middle::before {
        content: "";
        display: inline-block;
        height: 8px;
        width: 1px;
        background-color: #4e4e4e;
        margin-right: 20px; }
      .footer__link_middle::after {
        content: "";
        display: inline-block;
        height: 8px;
        width: 1px;
        background-color: #4e4e4e;
        margin-left: 20px; }
  .footer__author {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #818181;
    margin-right: 5px; }

/*# sourceMappingURL=main.css.map */
